
@font-face {
  font-family: "georgia-bold";
  src: url("../fonts/georgia-bold.woff"),
  url("../fonts/georgia-bold.woff2") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "helvetica-neue-bold";
  src: url("../fonts/helvetica-neue-bold.woff"),
  url("../fonts/helvetica-neue-bold.woff2") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "helvetica-neue-light";
  src: url("../fonts/helvetica-neue-light.woff"),
  url("../fonts/helvetica-neue-light.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "helvetica-neue-regular";
  src: url("../fonts/helvetica-neue-regular.woff"),
  url("../fonts/helvetica-neue-regular.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}
